html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 30px;
}
header {
    background-color: white;
    text-align: center;
    padding: auto;
    color: black;
}
header h1 {
    font-size: xx-large;
}
hr {
    color: grey;
}
#Available_tools h2 {
    font-size: 25px;
}
#about_us h3 {
    font-size: 25px;
}
#Contributors h4 {
    font-size: 25px;
}
header h1 a {
    color: inherit;
    text-decoration: none;
}
header h1 a:hover {
    text-decoration: underline;
}